debug.out

bin/
bin/debug.out
bin/KimeBoi.exe
bin/tetris - requires MBC.gb
.vscode/
src/problems.txt
mooneye/
build/
_deps
CMakeFiles
boot.gb
cmake_install.cmake
CMakeCache.txt
dmg-acid2.gb
Makefile
KimeBoi
